<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.samskivert.mashups.pokeros"
          android:screenOrientation="portrait"
          android:versionCode="4"
          android:versionName="1.2">
  <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="28" />

  <application android:icon="@drawable/icon"
               android:label="@string/app_name"
               android:theme="@android:style/Theme.NoTitleBar">
    <activity android:name="pokeros.android.PokerosActivity"
              android:label="@string/app_name"
              android:theme="@android:style/Theme.NoTitleBar"
              android:launchMode="singleTask"
              android:configChanges="keyboardHidden|orientation|screenSize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
